

.gameboard
	background: grey
	margin: auto

.cell
	display:block
	height: 25px
	width: 25px
	background:
		image: url('../img/walls.png')
		size: cover

.player
	background:
		image: url('../img/player.png')
		size: cover
	z-index: 500

.room
	background:
		image: url('../img/floor.png')
		size: cover

.treasure
	background:
		image: url('../img/treasure.png')
		size: cover

.monster
	background:
		image: url('../img/monster.png')
		size: cover

.weapon
	background:
		image: url('../img/sword.png')
		size: cover

.potion
	background:
		image: url('../img/potion.png')
		size: cover


.torch
	background:
		image: url('../img/torch.png')
		size: cover

.boss
	background: violet

.darken
	background: black

.gameboard-container
	position: relative

.game-display
	position: absolute
	color: white
	top: 25px
	left: 25px

.gameover-modal
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0,0.7)
	z-index: 1000
	opacity: 1
	transition: all 0.5s ease-in-out


.gameover-modal__inner
	position: fixed
	top: 20%
	left: 50%
	width: 500px
	height: 400px
	transform: translateX(-50%)
	background: red
	color: white
	text-transform: 'uppercase'
	font-size: 3em
	z-index: 1050

.hidden
	display: none
	opacity: 0

