.gameboard
	background: grey

.cell
	display:block
	height: 5px
	width: 5px
	background: grey

.player
	background: black

.room
	background: white

.darken
	background: black

.room0
	background: pink