.gameboard
	background: grey

.cell
	display:block
	height: 15px
	width: 15px
	background: grey

.player
	background: black

.room
	background: white

.darken
	background: black

.room0
	background: pink